/*Variables*/

$color-dark: #222222;
$color-light: #ffffff;
$color-yellow: #FED136;
$color-grey: #777777;

$font-logo: 'Rouge Script', cursive;
$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Noto Serif', serif;
$font-text: 'Roboto Slab', serif;

/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;    
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    text-align: center;
    background: $color-light;
    color: $color-dark;
}

.page-title {
    font-size: 68px;
    margin: 0;
    font-family: $font-title;
}

.page-subtitle {
    font-size: 38px;
    margin: 0;
    font-family: $font-subtitle;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    min-width: 240px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-title;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $color-yellow;
    background-position: 100% 0;
    background-size: 300%;
    position: relative;
    background-color: $color-yellow;
    color: $color-light;
    font-weight: 600;
}

/*Splash*/

.splash {
    min-height: 700px;
    display: flex;
    .splash-inner {
        margin: auto;    
        max-width: 100%;
        position: relative;
        display: flex;
        .menu{
            position: absolute;
            right: 230px;
            left: 230px;
            top: 50px;
            display: flex;
            justify-content: space-between;
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                font-family: $font-title;
                flex: auto;
                text-align: right;
                li {
                    display: inline-block;
                    margin-right: 36px;
                    position: relative;
                    a {
                        text-decoration: none;
                        font-family: $font-title;
                        color: $color-light;
                        margin: 0 auto;
                        line-height: 30px;
                    }
                }
            }
            ul:first-child {
                text-align: left;
                a {
                    font-family: $font-logo;
                    color: $color-yellow;
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
        .row {
            max-width: inherit;
            flex-direction: column;
            position: absolute;
            right: auto;
            bottom: auto;
            left: 40%;
            top: 50%;
            transform: translate(-30%, -50%);
            .page-title {
                color: $color-light;
                padding-top: 5px;
            }
            .page-subtitle {
                color: $color-light;
                padding-top: 90px;
                font-weight: 100;
            }    
        }
        
    }
}

/*Services*/

.services {
    i {
        font-size: 38px;
        background: $color-light;
        width: 73px;
        height: 73px;
        line-height: 73px;
        color: $color-yellow;
        border-radius: 50%;
        border: 4px solid $color-yellow;
    }
    h1 {
        font-family: $font-title;
        size: 29px;
        line-height: 1;
        padding-bottom: 10px;
    }
    h2 {
        font-family: $font-subtitle;
        font-size: 22px;
        color: $color-grey;
        padding-bottom: 80px;
    }
    h3 {
        font-family: $font-title;
        font-size: 22px;
    }
    p {
        font-family: $font-text;
        font-size: 16px;
        color: $color-grey; 
    }
}



